/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid green;
    background-color: white;
}


/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid green;
	background-color: white;
}

header img {
	float: left;
	padding: 0 30px;
	width:180px;
}

header h2{
	color:red;
	font-size:175%;
}

header h3{
	font-style:italic;
	font-size:130%;
}



/* the styles for the form */
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
}
legend {
    font-weight: bold;
    font-size: 85%;
    padding-bottom: .5em;
}
label {
	float:right; 
	width: 10em;
	text-align: right;
}
label, input, select {
	font-size: 90%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
input:invalid {
  	border: 2px solid green;
}
input:valid {
  	border: 1px solid black;
}
br {
    clear: both;
}
#radio label {
	float: none;
}
#radio input {
	width: auto;
	margin-left: 3em;
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}
#buttons{
	width:100%
}
#buttons td {
	text-align: right;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: green;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
a:hover {
	font-style:italic;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	color: red;
	padding: .5em 0 .25em 0;
	margin: 0;
}

/* the styles for the aside */
aside {
	width: 215px;
	float: right;
	padding: 40px 0 20px 20px;
}
aside h2 {
	color: red;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}
aside ul {
	list-style-type: none;
}

#categories{
	width:100%;
	border: 2px solid black;
}

#categories th {
	text-align:center;
padding: 10px 0 10px 0;
}
#categories td{
	text-align: left;
padding: 10px 0 10px 5px;
}
#categories td,th {
        border: 1px solid black; 	
    }

/* the styles for the footer */
footer{
	clear: both;
	font-weight: bold;
	text-align:center;
	color: white;
	font-size: 110%;
	background-color: green;
}

footer p {
	padding: 1em 0;
}
